<div class="page-width">
  <div class="product-judgeme-reviews">
  {% comment %}Start automatically added Judge.me widget{% endcomment %}
    {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
  {% comment %}End automatically added Judge.me widget{% endcomment %}
  </div>
</div>

{% schema %}
  {
    "name": "Avis client",
    "settings": [],
    "presets": [{
      "name": "Avis client",
      "category": "Promotional"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
